@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/LogOut.cshtml";

}

<h2>Welcome Admin</h2>

<br />
<table class="table table-hover">

    <tr>
        <th>
            <div>
                @Html.ActionLink(" View all users (Add/Remove)", "AllUserDetails", "Admin", new { @class = "navbar-brand" })
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                @Html.ActionLink("Register New User (Teacher/Student)", "CreateNewUser", "Admin", new { @class = "navbar-brand" })
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                @Html.ActionLink("Create New Course", "Create", "Course", new { @class = "navbar-brand" })
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                @Html.ActionLink("Create New Subject", "Create", "Subject",  new { @class = "navbar-brand" })<br /><br />
            </div>
        </th>
    </tr>

    <tr></tr>

</table>
