<h2>Welcome</h2>
@Html.ActionLink("Register New User", "CreateNewUser", "MainAdmin", new { area = "Admin" }, new { @class = "navbar-brand" })

@Html.ActionLink("Create New Course", "Create", "Course", new { area = "Admin" }, new { @class = "navbar-brand" })

@Html.ActionLink("Create New Subject", "Create", "Subject", new { area = "Admin" }, new { @class = "navbar-brand" })<br/><br />