@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/LogOut.cshtml";

}

<h2>Welcome Admin</h2>

<br />
<table class="table table-hover">

    <tr>
        <th>
            <div>
                <a href="/Vidhyalaya/Admin/AllUserDetails">&nbsp;&nbsp;View all users (Add/Remove) </a>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                <a href="/Vidhyalaya/Admin/CreateNewUser">&nbsp;&nbsp;Register New User (Teacher/Student)</a>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                <a href="/Vidhyalaya/Courses/GetCourse">&nbsp;&nbsp;Create New Course </a>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                <a href="/Vidhyalaya/Subjects/GetSubject">&nbsp;&nbsp;Create New Subject </a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div>
                <a href="/Vidhyalaya/SubjectInCourses/GetMapCourseSubject">&nbsp;&nbsp;Assign Course in Subjects </a>
            </div>
        </th>
    </tr>

    <tr></tr>

</table>
