@if(Convert.ToBoolean(Session["Admin"])  && Request.IsAuthenticated)
{
    <li class="dropdown" data-admin-menu>
        <a href="#">
            Admin
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Manage Departments</li>
            <li class="divider" />
            <li><a href="/Admin/Section">&nbsp;&nbsp;Manage Role</a></li>
            <li><a href="/Admin/Subject/GetSubject">&nbsp;&nbsp;Manage Subjects</a></li>
            <li><a href="/Admin/Course/GetCourse">&nbsp;&nbsp;Manage Courses</a></li>
            <li><a href="/Admin/Manage Teacher">&nbsp;&nbsp;Manage Teachers</a></li>
            <li><a href="/Admin/Manage Student">&nbsp;&nbsp;Manage Student</a></li>

        </ul>
    </li>
}
s