
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/LogOut.cshtml";
}

<h2>Welcome Teacher</h2>

<br />
<table class="table table-hover">
    <tr>
        <th>
            <div>
                @Html.ActionLink("Student List", "AllStudentDetails", "Teacher")
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                @Html.ActionLink("Courses List", "CourseList", "Student")
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                @Html.ActionLink("Subjects List", "SubjectList", "Student")
            </div>
        </th>
    </tr>

    <tr></tr>

</table>
