
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/LogOut.cshtml";
}

<h2>Welcome Teacher</h2>

<br />

<table class="table table-striped">
       <tr>
        <th>
            <div>
                <a href="/Vidhyalaya/Teacher/TeacherProfile">&nbsp;&nbsp;My Profile</a>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div>
                <a href="/Vidhyalaya/Teacher/AllStudentDetails">&nbsp;&nbsp;View all Student List</a>
            </div>
        </th>
    </tr>

    <tr></tr>

</table>
