@model IEnumerable<Vidhyalaya.DB.Course>
@{
    ViewBag.Title = "CourseList";
}

<h2>Course List</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            </tr>
    }

</table>
