
@{
    ViewBag.Title = "Thankyou";
}

<h2>Thankyou For Registration</h2>

<table class="table table-hover">
    <tr>
        <th>
            <div>
                @Html.ActionLink("Registered ? Login From here", "Login", "UserLogin")
            </div>
        </th>
    </tr>
       
    <tr></tr>

</table>

