
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/LogOut.cshtml";
}

<h2>Thankyou For Registration</h2>

<table class="table table-condensed table-hover">
    <tr class="success">
        <th>
            <div>
                @Html.ActionLink("Registered ? Login From here", "Login", "UserLogin")
            </div>
        </th>
    </tr>

    <tr></tr>

</table>

