@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/LogOut.cshtml";

}

<h2>Welcome</h2>

<br />
<table class="table table-hover">

    <tr>
        <th>
            <div>
                @Html.ActionLink("My Profile", "StudentProfile", "Student", new { @class = "navbar-brand" })
            </div>
        </th>
    </tr>
    
    <tr>
        <th>
            <div>
                @Html.ActionLink("Courses List", "CourseList", "Student", new { @class = "navbar-brand" })
            </div>
        </th>
        </tr>

    <tr>
        <th>
            <div>
                @Html.ActionLink("Subjects List", "SubjectList", "Student", new { @class = "navbar-brand" })<br/>
            </div>
        </th>
        </tr>
    
    <tr></tr>

    </table>
